body{
    width: 70%;
    margin: auto;
    background-image: url("MVHS-Logo.png");
    background-size: 40%;
    background-position: 30vw 20vw;
    background-repeat: no-repeat;
    background-color: rgb(0, 50, 0);
    max-height: 50px;
    line-height: 100%;
}

h1{
    text-align: center;
    font-family: 'Poppins', sans-serif;
    background-image: linear-gradient(to top right, black,rgb(0, 150, 0));
    color: rgb(178, 147, 59);   
    outline: 1vw solid rgb(178, 147, 59);
    font-size: 3vw;
    text-shadow: 2px 2px black;
    line-height: 3vw;
}

h2 {
    font-family: 'Tiro Bangla', serif;
    color: rgb(178, 147, 59);   
    font-size: 2.5vw;
    line-height: 5vh;
}

.click{
    font-family: 'Tiro Bangla', serif;
    background-image: radial-gradient(rgb(228, 197, 109),rgb(128, 97, 9));
    color: black;
    padding: .75vw .75vh;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-weight: bold;
    font-size: 1.5vw;
    outline: solid rgb(255, 247, 109);
    transition-duration: 0.4s;
}

.click:hover {
    font-family: 'Tiro Bangla', serif;
    background-image: radial-gradient(rgb(178, 147, 59),rgb(78, 47, 0));
    color: black;
    padding: .75vw .75vh;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-weight: bold;
    font-size: 1.5vw;
    outline: solid rgb(255, 247, 109);
}

.center{
    text-align: center;
}



ul{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: rgb(255, 255, 230);
    font-weight: bold;
    font-size: 1.75vw;
    line-height: 5vh;
}

.link{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: rgb(255, 255, 230);
    font-weight: bold;
    font-size: 1.75vw;
    line-height: 5vh;
}

span {
  background-color: rgba(0, 0, 0, .4);
}

img {
    height: 15vw;
    float:right;
    border: .25vw solid rgb(178, 147, 59);  
    border-radius: 1vw;
}

h6 {
    font-size:.8vw;
    text-align:left;
    color:white;
}

p{
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: rgb(0, 235, 235);
    font-weight: bold;
    font-size: 1.75vw;
    line-height: 5vh;
}

div{
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: rgb(0, 255, 255);
    font-weight: bold;
    font-size: 2vw;
    line-height: 5vh;
}
.img{
    text-align: right;
    
}